{%load static%}
<section id="about" class="py-4">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <h1 class="fw-semibold">Embrace Your Natural Beauty!!!</h1>
        <p class="lead">
          Black is beautiful. Be proud of your elaborately infused MELANIN skin.
          Black is exquisite and can be painted as much.
        </p>
      </div>
      <div class="col-md d-flex justify-content-center align-items-center">
        <img src="{%static 'images/hero.JPG'%}" alt="" class="img-fluid w-75" />
      </div>
    </div>
  </div>
</section>
