<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'scss/custom.css' %}" />
    <title>Miss Natural</title>
  </head>
  <body class="bg-website">
    <!-- For navbar template ./navbar.html -->
    {%include 'website/navbar.html'%}

    <!-- For about section template ./about.html -->
    {%include 'website/about.html'%}

    <!-- For events section template ./about.html -->
    {%include 'website/events.html'%}

    <!-- For contact section template ./about.html -->
    {%include 'website/contact.html'%}

    <!-- For footer template ./about.html -->
    {%include 'footer.html'%}

    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
