<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand text-purple fs-2">Miss Natural Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{% url 'home' %}">
            <button class="btn btn-lg btn-purple w-100">Our Website</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
