.bg-website {
  background-image: url("../images/bg-img.png") !important;
}

.bg-blog {
  background-image: url("../images/triangles.png") !important;
}

.bg-info {
  background-color: rgb(133, 21, 154) !important; 
}

.text-info {
  color: rgb(133, 21, 154) !important; 
}
